body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
}
li {
    list-style: none;
    color: #e3b062;
}
.header {
    border-bottom: 3px solid #32b9cd;
    display: flex;
    justify-content: center;
}
.container {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navbar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 300px;
}
.titulo {
    color: #32b9cd;
}